* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header span:first-child {
  font-size: 25px;
  font-weight: 500;
}

.header span:nth-child(2) {
  font-size: 30px;
  color: #c2bcbc;
  font-weight: 600;
}

.select {
  width: 250px;
  line-height: 35px;
}
.fir:hover {
  color: red;
}

.label1 input {
  height: 45px;
  width: 250px;
  border: 1px solid #dfdbdb;
  border-radius: 3px;
  padding-left: 30px;
}

.label2 input {
  height: 45px;
  width: 250px;
  border: 1px solid #dfdbdb;
  border-radius: 3px;
  padding-left: 30px;
}

.selection {
  margin-right: 10px;
}

.selection input {
  height: 15px;
  width: 250px;
}

.label1 {
  display: flex;
  gap: 40px;
  margin-top: 5px;
}

.label2 {
  display: flex;
  margin-top: 10px;
}

.label3 {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.label4 {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

.label3 input {
  height: 45px;
  width: 250px;
  border: 1px solid #dfdbdb;
  border-radius: 3px;
  padding-left: 30px;
}

.label4 input {
  height: 45px;
  width: 250px;
  border: 1px solid #dfdbdb;
  border-radius: 3px;
  margin-top: 20px;
}

.input-files input {
  padding: 10px 0px 0px 30px;
}

.input-items input:focus {
  border: 2px solid #2684ff;
  outline: none;
}

.roominfo button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  width: 90px;
  border-radius: 5px;
}

.select-file button {
  margin: 45px 0px 0px 0px;
  height: 50px;
  background-color: #fff;
  color: black;
  right: 20px;
}
.roominfo button[type="submit"]:hover {
  background-color: #45a049;
}

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
