* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rating-box {
    height: 230px;
    width: 430px;
    margin-top: 200px;
    margin-left: 600px;
    background-color: #2F2B64;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.header {
    display: grid;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.header h3 {
    font-size: 20px;
    color: white;
}

.header p {
    font-size: 14px;
    color: white;
}

.crossicons svg {
    color: white;
    margin: -10px 0px 0px 370px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.rate-icons {
    display: flex;
    justify-content: center;
}

.rate-icons svg {
    font-size: 40px;
    color: white;
}