.profilebox {
  height: 230px;
  width: 220px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 70px;
  z-index: 999;
  right: 70px;
}
.profileimage {
  padding-top: 5px;
  display: grid;
  justify-content: center;
  place-items: center;
  height: 100px;
  cursor: pointer;
}

.avatarPlaceholder {
  padding-top: 5px;
  display: grid;
  font-size: 30px;
  height: 50px;
  background-color: #87b3fb;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 50px;
  justify-content: center;
  cursor: pointer;
}
.profileimage p:nth-child(3) {
  font-size: 12px;
  margin-top: -10px;
}

.profileimage img {
  border-radius: 50px;
  background-color: #e4dbdb;
}
.profile-items {
  display: grid;
  gap: 5px;
}

.profileimage p {
  text-align: center;
}

.icons {
  font-size: 20px;
  cursor: pointer;
}
.booking:hover,
.profiles:hover,
.signout:hover {
  color: cornflowerblue;
}

.profiles,
.booking,
.signout {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
}

.profiles,
.booking,
.signout li {
  list-style-type: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profileBoxHidden {
  display: none;
}

.profileBoxVisible {
  display: block;
}
