.footerpage {
  margin-top: 300px;
}

.footer-top {
  background: #e9ebee;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 100px;
  padding-top: 50px;
  width: 100%;
  height: 40vh;
}

.footer-top span li {
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.condt {
  width: 180px;
}

.footer-top span p:nth-child(1) {
  font-weight: 500;
  font-size: 15px;
  margin: 12px 0;
}

.footer-top span li a {
  text-decoration: none;
  font-family: kite-mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.below-footer {
  background-color: #2a2a2e;
  display: grid;
  place-items: center;
}

.below-footer p {
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  justify-content: center;
  padding-top: 50px;
  width: 600px;
}

.icons {
  justify-content: center;
  text-align: center;
  margin: 30px 0px 30px 0px;
  display: flex;
  gap: 30px;
}

.icons svg:hover {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: white;
  text-align: center;
  color: black;
}

.icons svg {
  color: whitesmoke;
  font-size: 25px;
}

.footer-icon:hover {
  font-size: 25px;
}
