.leaflet-container {
  height: 70vh;
  width: 100vw;
}

.returns button {
  position: absolute;
  top: 110px;
  right: 20px;
  z-index: 1000;
  padding: 7px 20px;
  border-radius: 5px;
  border: 1px springgreen;
  background-color: red;
  color: white;
}
